<div class = "user-entry-outer">
  
  <div class = "user-entry-inner">
    <div class = "entry-title-font">登録情報変更</div>
      <%= resource_name.to_s.humanize %>
    
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email,"メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password,"新しく登録するパスワード" %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %><br />
        <em><%= @minimum_password_length %>(半角英数６文字以上)</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation,"新しいパスワード再入力" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :current_password,"現在のパスワード" %><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "登録情報変更", class: "actions"  %>
    </div>
  <% end %>

    <%= link_to "戻る", :back %>

  <div class = "delete-box" >
    <div class = "delete-font">登録情報削除</div>
      <h3>登録情報を削除しますか？</h3>
      <h3>一度した処理は元に戻せません。</h3>
      <br>
      <p>下のボタンを押すと削除されます。<%= button_to "登録情報削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "actions" %></p>
    </div>

