<!DOCTYPE html>
  <html>
  <head>
     <title>POTATO500</title>
     <%= csrf_meta_tags %>
     <%= csp_meta_tag %>

    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

  </head>

  <body>

  <%= breadcrumbs separator: " &rsaquo; " %>

  <div class = "header"> 
      <div class = "top-inner">
        <div class = "top" >
          <a href="/"><h1 class = "top-title-font">POTATO 500</h1></a>
            
            <div class = "potato-box">
                <ul class = "show-lists hidden" id="pull-down" >
                  <a href="#"><li class="pull-down-list">POTATO500よくある質問</li></a>
                   <li class="pull-down-list"><%= link_to "POTATO500グッズ購入", items_path%></li>
                </ul>
                <%= image_tag "logo.png", class: :logo, id: "logo" %>
            </div>
       
      </div>


        <div class = "nav-box">
            <div class = "search-box">
                <%= search_form_for @p, url: search_stores_path do |f| %>
                  <%= f.collection_select :prefecture_id_eq, @prefecture, :id, :name, include_blank: 'エリア検索', class: "search-input" %>
                  <%= f.collection_select :store_name_eq, @store_name, :store_name, :store_name, include_blank: 'お店の名前で検索', class: "search-input" %>
                  <%= f.submit '検索' , class: "search-btn"%>
                <% end %>
            </div>

            <div class = "session-box">
              <% if user_signed_in? %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: "user-bnt" %>
                <%= link_to "ログイン情報変更", edit_user_registration_path, method: :get,class: "user-bnt" %>
                <%= link_to "お店登録", new_store_path, class: "user-bnt" %>
                <!--<p class = "user-bnt"><%= link_to "管理人応援ページ", "#", class: "user-bnt" %></p>-->
              <% else %>
                <%= link_to "ログイン", new_user_session_path, class: "user-bnt" %>
                <%= link_to "新規登録", new_user_registration_path, class: "user-bnt" %>
              <% end %>
            </div>
        </div>

    </div>
  </div>

    <%= yield %>
    
    <footer>
       <div class = "potato_1"></div>
      <p class = "footer">
        Copyright POTATO500 2020.
      </p>
    </footer>

  </body>
</html>
